body {
   font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
   line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)))
}   

div.main{
    display: grid;
    
   /* https://stackoverflow.com/questions/19848697/css-grid-where-one-column-shrinks-to-fit-content-the-other-fills-the-remaning-s*/
    
   /* First column auto the second fills space available.  */
   grid-template-columns: auto minmax(0, 1fr);
 }
 
section.header-content-links {
    grid-column: 1/3;
    justify-content: center;
}

section.header-content-links ul {
    display: grid;
    grid-auto-flow: column;
}

.ro {
    border: 1px dashed red;
 }
 
 .bo {
    border: 1px dashed blue;
 }
 
 
 .left-container {
    display: grid;
    align-items: center;
 }
 
 .right-container {
    display: grid;
    justify-items: center;
 }

 /*
 | Search container.
 */

 #search-container {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    padding-top: 2px;
    padding-right: 2em;
    padding-bottom: 2px;
    padding-left: 2em;
    
   
 }
 
 #search-container img {   
    margin-left: -16px;
    cursor: pointer;
 }
 
 #search-container input {
    border: none;
    background-color: lightgray;
    font-size: 130%;
    padding: 2px;
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
    width: 100%; 
    transition: width 500ms ease;
 }   
 
.ro  {
    border: 1px dashed red;
}

.bo {
    border: 1px dashed blue;
}

.go {
    border: 1px dashed green;
}




